@model List<MVC_crud.Models.Entities.Customer>

@{
}
<h1> List Customer Data</h1>

<table class="table">
    <thead>
        <tr>
            <th>CustomerID</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>ContactTitle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Customer in Model)
        {
            <tr>
                <td>@Customer.CustomerID</td>
                <td>@Customer.CompanyName</td>
                <td>@Customer.ContactName</td>
                <td>@Customer.ContactTitle</td>
                <td>
                    <a class="btn btn-primary" asp-controller="CustomerHome"
                    asp-action="EditCust" asp-route-custID="@Customer.CustomerID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
